@model Library.Services.ViewModels.BookCopies.BookCopyCreateViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    
    <div class="myform fondo" >
        <br />
            <h2 >Editar Copia</h2>
            <br />
        <form asp-action="UpdateData" method="post" asp-route-id=@Model.Id asp-route-bookId=@Model.Book.Id onsubmit="return validateBookCopy()">
            <div class="myforma">
                <label style="width:35px;" asp-for="Edition">Edición:</label>
                <input style="margin-left:18px" asp-for="Edition" required maxlength="70" />
            </div>
           
            <div  class="myforma">
                <label style="width:53px;" asp-for="TotalQuantity" class="" >Edición:</label>
                <input asp-for="TotalQuantity" id="quantity" required />
            </div>    
                     
              
             
            <div>
               <p></p>
            <button style="width: 135px;margin-left: 52px;" type="submit">Guardar cambios</button>
             <p></p>
        </div>

        </form>
    </div>
    
     <div class="book">
         <div class="Title" >
           <p></p>
         </div>
              </div>

     <a type="button" class="btn btn-primary" asp-area="" asp-controller="Books" asp-action="List" >Cancelar</a>

</body>
    <script>
        function validateQuantity() {
            var copy = document.getElementById("quantity").value
            if (copy > 0) {
                return true
            }
            else {
                alert("La cantidad debe ser mayor a 0");
                return false
            }
        }
        function validateBookCopy() {
            if (validateQuantity()) {
                return true
            } else {
                return false
            }
        }
    </script>
</html>

