@model Library.Services.ViewModels.Customers.CustomerCreateViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div class="myform fondo">
        <br />
        <h2>Crear Cliente</h2>
        <br />
        <form asp-action="Create" method="post" onsubmit="return validateCustomer()">
            <div class="myforma">
                <label >Direccion:</label>
                <input style="margin-left:18px" asp-for="Address" required maxlength="60" />
            </div>

            <div class="myforma">
                <label  class="">Nombre:</label>
                <input asp-for="Name" required maxlength="50" required maxlenght="50" />

            </div>
            <div class="myforma">
                <label  class="">Telefono:</label>
                <input asp-for="PhoneNumber" required maxlength="15" min="0" />
            </div>
            <div class="myforma">
                <label >DNI:</label>
                <input asp-for="Id" id="id" required maxlength="9" />
            </div>
            <div>
                <p></p>
                <input type="submit" id="submitCustomer" value="Aceptar">
                <p></p>
            </div>

        </form>
    </div>
    <div class="book">
        <div class="Title">
            <p></p>
        </div>
    </div>
    <a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Atrás</a>
    <script src="~/js/Customer.js"></script>
</body>
    <script>
            function validateDni() {
                var dni = document.getElementById("id").value
                if ((dni.length < 10 && dni.length > 6) && !isNaN(dni)) {
                    return true
                }
                else {
                    alert("ERONEO");
                    return false
                }
            }
            function validateCustomer() {
                if (validateDni()) {
                    return true
                } else {
                    return false
                }
            }
        </script>
</html>
