@model Library.Services.ViewModels.Books.BookViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <link rel ="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    
    <div class="myform fondo" >
        <br />
            <h2 >Create book</h2>
            <br />
        <form asp-action="Create" method="post">
            <div class="myforma">
                <label asp-for="Title">Title:</label>
                <input style="margin-left:18px" required maxlength="50" asp-for="Title" />
            </div>
           
            <div  class="myforma">
                <label asp-for="Author" class="" >Author:</label>
                <input asp-for="Author" required maxlength="50" />
            </div>            
            <div>
               <p></p>
            <button type="submit">Submit form</button>
             <p></p>
        </div>

        </form>
    </div>
    
     <div class="book">
         <div class="Title" >
           <p></p>
         </div>



     </div>
</body>
</html>