@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />

    <title>Form</title>
</head>
<body>
   
<div class="text-center">

        <div>
            <br />
            <br />
            <br />
            <h1 style="margin-left: 65px;font-family:Lucida Handwriting">Alejandria</h1>
            <p style="margin-left: 70px;">Sistema de administración de Biblioteca </pstyle>
            <br />
         
            </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <p><a style="margin-left: 498px;" asp-area="" asp-controller="Books" asp-action="Create" class="btn btn-primary">Crear Libro <span class="icon"><i class="fa-solid fa-book"></i></span> </a> </p>
                                                                                                                     
                </div>
                <div class="col">
                    <p><a style="margin-left: -389px;" asp-area="" asp-controller="Customers" asp-action="Create" class="btn btn-primary">Agregar nuevo Usuario <span> <i class="fa fa-thin fa-address-card"></i> </span> </a>  </p>


                </div>
            </div>
        </div>

        <img style="margin-left: 78px;" src="/Images/biblioteca.jpg" >
</body>
</html>