@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta name="viewport" content="width=device-width" />

    <title>Form</title>
</head>
<body>
   
<div class="text-center">

        <div>
            <br />
            <br />
            <br />
            <h1 style="font-family:Lucida Handwriting">Alejandria</h1>
            <p>Sistema de administración de Biblioteca </p>
            <br />
         
            <p><a asp-area="" asp-controller="Books" asp-action="Create" class="btn btn-primary">Crear nueva reserva <span class="icon"><i class="fa-solid fa-book-bookmark"></i></span> </a></p>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <p><a asp-area="" asp-controller="Books" asp-action="Create" class="btn btn-primary">Crear Libro <span class="icon"><i class="fa-solid fa-book"></i></span> </a> </p>
                                                                                                                     
                </div>
                <div class="col">
                    <p><a asp-area="" asp-controller="Customers" asp-action="Create" class="btn btn-primary">Agregar nuevo Usuario <span> <i class="fa fa-thin fa-address-card"></i> </span> </a>  </p>


                </div>
            </div>
        </div>

        <img src="/Images/biblioteca.jpg" >
</body>
</html>